@{
    ViewBag.Title = "Питомцы";
}

<div >
    <table border="1">
        <tr>
            <th> Имя питомца </th>
            <th> Порода </th>
            <th> Дата рождения </th>
            <th> кол-во медалей </th>
        </tr>
    </table>
</div>